apiVersion: v1
kind: PersistentVolume
metadata:
  creationTimestamp: null
  name: grafana-volume
spec:
  accessModes:
  - ReadWriteOnce
  capacity:
    storage: 1Gi
  claimRef:
    apiVersion: v1
    kind: PersistentVolumeClaim
    name: grafana-claim
    namespace: openshift-monitoring-2
  nfs:
    path: {{ NFS_Path }}
    server: {{ NFS_Server }}
  persistentVolumeReclaimPolicy: Retain
